body {
    font-family:'Courier New', Courier, monospace;
}

#title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -65px;
    left: 50px;
    z-index: 2;
}
#image {
    position: relative;
    top: 25px;
    left: 0%;
    z-index: 1;
}

th {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 10px;
}

button, [type~=button], [type~=submit] {
    color: white;
    background: rgba(32, 55, 182, 0.582);
    padding: 10px;
    font-size: 18px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:40px;
}



#theSentence {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
}

#footer{
    background-color:black; 
    color:white; 
    padding: 5px; 
    font-size: 14px; 
    margin-top:10px; 
    margin-left:125px;
}